@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

@layer base {
    :root {
        --text: #e4d5f6;
        --background: #0e0619;
        --primary: #8d50d7;
        --secondary: #230e3e;
        --accent: #8544d5;
    }
    .light {
        --text: #18092a;
        --background: #eee6f9;
        --primary: #6428af;
        --secondary: #d6c1f1;
        --accent: #6c2abb;
      }
      html, body {
        @apply h-full p-0 m-0 bg-[color:var(--background)] text-[color:var(--text)];
      }
}

@layer components {
    .navbar { 
        @apply hidden absolute w-full h-5/6 justify-center items-center text-5xl bg-[color:var(--background)];
        @apply sm:flex sm:static sm:h-auto sm:text-lg lg:justify-end;
      
    }
    .nav-list { 
        @apply flex flex-col items-center mb-16;
        @apply sm:flex-row sm:gap-8 lg:mr-16 sm:mb-0;
    }
    .nav-items {
        @apply flex justify-between py-12 cursor-pointer;
        @apply sm:py-8;
    }
    .footer {
        @apply flex flex-col justify-center items-center font-medium mb-5 text-sm absolute bottom-0 w-full;
        @apply lg:text-base;
    }
    .footer p {
        @apply font-normal text-xs;
    }

    .profile {
        @apply flex flex-col items-center justify-center py-20;
        @apply lg:flex-row lg:justify-between lg:py-40 lg:px-20;
    }
    .profile-content {
        @apply text-4xl font-bold my-6;
        @apply lg:my-0 lg:text-5xl; 
    }
    .profile-content h3 {
        @apply text-xl py-2;
        @apply lg:text-2xl lg:py-3;
    }
    .profile-img img {
      @apply w-full h-80 object-contain;
      @apply md:h-96;
    }
}


@layer utilities {
    box-icon {
        @apply [color:var(--primary)] cursor-pointer flex justify-end px-4 py-4 sm:hidden;
    }
}